<div class="output center hide">
    <h2>Hasil Perhitungan</h2>
    <div class="hcenter">
        <div class="box">
            <img class="imgthumboutput" src=""/>
        </div>
        <div class="box">
            <div class="output-container">
                <table>
                    <tr>
                        <td><img src="{{ url_for('static', filename='image/rbcell.png') }}" height="40px"></td>
                        <td><div class="count rb">1000</div></td>
                        <td><div class="subcount">Sel Darah Merah Normal</div></td>
                    </tr>
                    <tr>
                        <td><img src="{{ url_for('static', filename='image/rbcell.png') }}" height="40px"></td>
                        <td><div class="count mk">1000</div></td>
                        <td><div class="subcount">Sel Darah Merah Mikrositik</div></td>
                    </tr>
                </table>
            </div>
            <br>
            <button id="touploader" class="btn-secondary">Hitung Data Lainnya</button>
        </div>
    </div>
</div>