<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hitung</title>
    <link href="{{ url_for('static', filename='css/uploader.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='css/loading.css') }}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="content">
    <div class="notification hide">Sukses Menyimpan gambar</div>
    <div class="loading-wrapper hide">
        <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <h4>Memproses Gambar</h4>
    </div>
    <div class="container">
        <div class="topnav hide">
            <button class="backbtn">Back</button>
        </div>
        <div class="error hide">
            Error Format Tidak Didukung
        </div>

        {% include "browse.html" %}
        {% include "output.html" %}
    </div>
</div>
</body>

<script src="{{ url_for('static', filename='js/uploader/browse.js') }}"></script>
<script src="{{ url_for('static', filename='js/uploader/upload.js') }}"></script>

</html>